/* Signin and Signup */


#signinForm, #signupForm{
    border: 2px #3C3D3F solid;
    border-radius: 10px;
    width: 40%;
    display:flex;
    flex-direction: column;
    padding:20px 10px 10px 10px;
    align-items: center;
    margin: auto;
}

#signinForm .form_element, #signupForm .form_element{
    border-radius: 6px;
    margin-bottom: 15px;
    width: 90%;
    font-size: 28px;
    height: 48px;
    font-family: Arial, Helvetica, sans-serif;
}

.signin_button, .signup_button{
    font-family: Arial, Helvetica, sans-serif;
    border-radius:10px;
    text-align:center;
    font-size: 22px;
    color: #3C3D3F;
    background: #ebe9e1;
    border: 1px #3C3D3F solid;
    padding: 10px 20px 10px 20px;
    width: 50%;
}

.signin_button:hover, .signup_button:hover {
  background: #cfd1c1;
  color: #2c3e50;
}